<div *ngIf="isNew"><!-- <0000000000000000> -->
  <div *ngIf="inputMode"><!-- <111111111111111111> -->
    <div class="form-group mt-2">
      <label for="description" class="float-left col-3 alert alert-info mx-1 text-center" style="height: 50px;">Description</label>
      <input class="form-control col-8 clear-both" type="text"
        id="description" [(ngModel)]="description" style="height: 50px;" />
    </div>
    <div class="form-group">
      <label for="img" class="float-left col-3 alert alert-info mx-1 text-center" style="height: 50px;">Image</label>
      <input class="form-control col-8 clear-both" type="text"
        id="img" [(ngModel)]="imgUrl" style="height: 50px;" />
    </div>
    <div class="form-group mt-2" *ngIf="description">
      <input
        style="display: none"
        accept="image/*"
        type="file" (change)="onFileChanged($event)"
        #fileInput>
      <button 
        class="btn btn-primary col-3 my-2 mr-2 py-3 float-left" 
        (click)="fileInput.click()">UPLOAD IMAGE</button>
    </div>
    <div class="form-group mt-2" *ngIf="imgUrl && description">
      <button 
        class="btn btn-primary col-2 my-2 py-3" 
        (click)="onSave()">SAVE</button>
    </div>
    <div 
      class="p-2 item-hl col-10 offset-1 mb-3 d-flex flex-column row-hl" 
      [ngStyle]="onStyleImage()" *ngIf="imgUrl">
    </div> 
  </div><!-- end<111111111111111111> -->
</div><!-- end<0000000000000000> -->

<div *ngIf="!isNew"><!-- <2222222222222222> -->
  <div *ngIf="!inputMode"><!-- <333333333333333333> -->
    <div class="alert alert-success">
      <div class="col-12 mb-3" style="max-height: 250px; overflow: auto;"><strong>Item:</strong> {{ description }}</div>
      <div class="form-group mt-1" *ngIf="storeService.userLoggedIn">
        <button class="btn btn-light col-3 ml-3" (click)="editItem()">EDIT</button>
        <button class="btn btn-light col-4 ml-1" (click)="deleteItem()">DELETE</button>
        <button [ngClass]="getCopyClasses( '' )" (click)="copyItem()">CUT</button>
      </div>
      <div class="col-12"><img src="{{ imgUrl }}" style="width: 100%; height: 100%;"/></div>
    </div>
  </div><!-- end<333333333333333333> -->
</div><!-- end<2222222222222222> -->
