<div *ngIf="checkIfLoggedIn()">
  <app-container [inputMode]="false" [isNew]="true" ></app-container>
</div>

<div class="alert alert-primary">
  <h2 class="lead">Locations</h2>
</div>
<div *ngFor="let container of userStore.allContainers">
  <app-container 
        [isNew]="false"
        [inputMode]="false" 
        [id]="container.id" 
        [imgLink]="container.imgLink" 
        [description]="container.description" 
        [items]="container.items" 
        [privacy]="container.privacy" 
        [url]="container.url" 
        [creator]="container.creator" 
        [placeCoords]="container.coords"></app-container>
</div>
