<div *ngIf="checkIfLoggedIn()">
  <app-container [inputMode]="false" [isNew]="true" ></app-container>
</div>

<div class="alert alert-primary">
  <h2 class="lead">{{usrStore().locationName}} : Containers 
    <span *ngIf="countItemsCopied() > 0" style="color: green;">( Copied: {{countItemsCopied()}} items 
      <button btn bnt-light (click)="removeItemsCopied()">x</button> )
    </span>
  </h2>
  <input type="text" (keydown)="onKeyPressedDown( $event )" (input)="onInput( $event )" 
         [value]="searchTerm"
    class="form-control col-9 float-left" id="search-inp" />
  <button (click)="search()" class="btn btn-primary col-2 mx-1" id="search-btn">Search</button>
</div>
<div *ngFor="let container of usrStore().allContainers">
  <app-container 
        *ngIf="displayContainer ( container.privacy, container.creator, container.location )"
        [isNew]="false"
        [inputMode]="false" 
        [id]="container.id" 
        [imgLink]="container.imgLink" 
        [description]="container.description" 
        [items]="container.items" 
        [privacy]="container.privacy" 
        [vertical]="container.vertical" 
        [url]="container.url" 
        [creator]="container.creator" 
        [placeCoords]="container.coords" 
        [locationId]="container.location"></app-container>
</div>
