<div *ngIf="!isNew" class="alert alert-warning" style="border: 1px solid lightblue;">
  <div *ngIf="!inputMode">
    <div *ngFor="let label of labels; let i = index">
      <div class="col-11" *ngIf=" label.name !== 'ImgLink'">
        <div *ngIf="label.name !== 'Items'"><strong>{{label.name}}:</strong> {{getValue( label.name )}}</div>
        <div *ngIf="label.name === 'Items'" style="max-height: 250px; overflow: auto;">
          <strong>{{label.name}}:</strong> {{getValue( label.name )}}
        </div>
      </div>
    </div>
    <div class="mt-2">
      <span *ngIf="userStore.userLoggedIn">
        <button 
          class="btn btn-primary col-2 mx-1 py-2" 
          (click)="onCreateNew( 'from_existing' )">NEW</button>
        <button 
          class="btn btn-primary col-2 mx-1 py-2" 
          (click)="onEdit()">Edit</button>
        <button 
          class="btn btn-info col-3 mx-1 py-2" 
          (click)="onItemNew()">{{ newItemLabel }}</button>
      </span>
      <button 
        class="btn btn-info col-3 mx-1 py-2" 
        (click)="onGetItems()">{{ itemsButton }}</button>
    </div>
  </div>
  <div *ngIf="itemNew" class="alert alert-secondary mt-2">
    <app-item 
      (itemSaved)="onSaveItem($event)"
      [isNew]="true" [inputMode]="true" [containerId]="id"></app-item>
  </div>
  <div *ngIf="itemsOpened" class="alert alert-secondary mt-2 col-10 offset-1" style="max-height: 500px; overflow: auto;">
    <div *ngFor="let item of allItemsArray; let i = index">
      <app-item 
        (itemDeleted)="onItemDeleted($event)"
        (itemEdited)="onItemEdited($event)"
        [id]="item.id"
        [description]="item.description"
        [imgUrl]="item.imageUrl"
        [isNew]="false" 
        [inputMode]="false" 
        [containerId]="id"></app-item>
    </div>
  </div>

  <div *ngIf="inputMode">
    <div *ngFor="let label of labels; let i = index">
      <div class="form-group" *ngIf="( label.type === 'text' ) && label.name !== 'Items'">
        <label for="{{label.name}}" class="float-left col-3 alert alert-info mx-1 text-center" style="height: 50px;">{{label.name}}</label>
        <input class="form-control col-8 clear-both" type="text" value="{{getValue( label.name )}}" 
          id="{{label.name}}" (input)="onInput( $event )" style="height: 50px;" />
      </div>
      <div class="form-group" *ngIf="( label.type === 'select' ) && ( label.name === 'Privacy' )">
        <label for="{{label.name}}" class="float-left col-3 alert alert-info mx-1 text-center" style="height: 50px;">{{label.name}}</label>
        <select id="{{label.name}}" class="form-control col-8" style="height: 50px;" (change)="onPrivacySelect( $event )" >
          <option 
          [selected]="checkIfSelected( option )"
          value="{{option|lowercase}}" *ngFor="let option of label.options">{{option}}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="( label.type === 'select' ) && ( label.name === 'Vertical' )">
        <label for="{{label.name}}" class="float-left col-3 alert alert-info mx-1 text-center" style="height: 50px;">{{label.name}}</label>
        <select id="{{label.name}}" class="form-control col-8" style="height: 50px;" (change)="onVerticalSelect( $event )" >
          <option 
          [selected]="checkIfSelected( option )"
          value="{{option|lowercase}}" *ngFor="let option of label.options">{{option}}</option>
        </select>
      </div>
    </div>
    <div class="col-12"> 
      <button 
        class="btn btn-primary col-2 col-2 offset-md-3 offset-lg-3 offset-xl-3 my-2 py-3" 
        (click)="onSaveExisting()">SAVE</button>

      <button 
        class="btn btn-primary col-sm-2 col-3 my-2 py-3 ml-2" 
        (click)="onCancel()">CANCEL</button>

      <button 
        class="btn btn-primary col-sm-2 col-3 my-2 py-3 ml-2" 
        (click)="onDelete()">DELETE</button>
    </div>

    <div class="p-2 item-hl col-10 offset-1 mb-3 d-flex flex-column row-hl" [ngStyle]="onStyleImage()">

      <div class="item-hl bg-transparent" style="height:2%;" *ngFor="let coordRow of coordRows; let i = index" id="{{i}}">
        
        <div class="d-flex justify-content-start row-hl" style="height:100%;">

          <div 
            class="item-hl bg-{{cell.bg}} text-center rounded-circle" 
            *ngFor="let cell of coordRow; let cellI = index"
            style="height:100%; width: 2%; position: relative;"
            (click)="onCoordCatch($event)" id="{{i}}_{{cellI}}" >
            <img 
             (click)="onCoordCatch($event)" 
             id ="imt-map" *ngIf="cell.bg === 'warning' " 
             src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/down3-512.png" height="50px" 
             style="position: absolute; top: -50px !important; left: -13px; draggable: true;" />
          </div>

        </div>

      </div>

    </div> 

  </div>

</div>

<div *ngIf="isNew">
  <!--HANDLE NEW AND CANCEL NEW-->
  <div *ngIf="!inputMode">
    <button 
      class="btn btn-primary col-2 offset-5 my-2 py-3" 
      (click)="onCreateNew( '' )">NEW</button>
  </div>

  <div *ngIf="inputMode">
    <div *ngFor="let label of labels; let i = index">
      <div class="form-group" *ngIf="( label.type === 'text' ) && ( label.name !== 'Items' )">
        <label for="{{label.name}}" class="float-left col-3 alert alert-info mx-1 text-center" style="height: 50px;">{{label.name}}</label>
        <input class="form-control col-8 clear-both" type="text" 
          id="{{label.name}}" (input)="onInput( $event )" style="height: 50px;" /> 
      </div>
      <div class="form-group" *ngIf="( label.type === 'select' ) && ( label.name === 'Privacy' )">
        <label for="{{label.name}}" class="float-left col-3 alert alert-info mx-1 text-center" style="height: 50px;">{{label.name}}</label>
        <select id="{{label.name}}" class="form-control col-8" style="height: 50px;" (change)="onPrivacySelect( $event )" >
          <option 
          [selected]="checkIfSelected( option )"
          value="{{option|lowercase}}" *ngFor="let option of label.options">{{option}}</option>
        </select>
      </div>
      <div class="form-group" *ngIf="( label.type === 'select' ) && ( label.name === 'Vertical' )">
        <label for="{{label.name}}" class="float-left col-3 alert alert-info mx-1 text-center" style="height: 50px;">{{label.name}}</label>
        <select id="{{label.name}}" class="form-control col-8" style="height: 50px;" (change)="onVerticalSelect( $event )" >
          <option 
          [selected]="checkIfSelected( option )"
          value="{{option|lowercase}}" *ngFor="let option of label.options">{{option}}</option>
        </select>
      </div>
    </div>
    <div class="col-12"> 
      <button 
        class="btn btn-primary col-2 col-2 offset-md-4 offset-lg-4 offset-xl-4 my-2 py-3" 
        (click)="onSaveContainer()">SAVE</button>

      <button 
        class="btn btn-primary col-sm-2 col-3 my-2 py-3 ml-2" 
        (click)="onCancel()">CANCEL</button>
    </div>

    <div class="p-2 item-hl col-10 offset-1 mb-3 d-flex flex-column row-hl" [ngStyle]="onStyleImage()">

      <div class="item-hl bg-transparent" style="height:2%;" *ngFor="let coordRow of coordRows; let i = index" id="{{i}}">
        
        <div class="d-flex justify-content-start row-hl" style="height:100%;">

          <div 
            class="item-hl bg-{{cell.bg}} text-center rounded-circle" 
            *ngFor="let cell of coordRow; let cellI = index"
            style="height:100%; width: 2%; position: relative;"
            (click)="onCoordCatch($event)" id="{{i}}_{{cellI}}" >
            <img 
             (click)="onCoordCatch($event)" 
             id ="imt-map" *ngIf="cell.bg === 'warning' " 
             src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/down3-512.png" height="50px" 
             style="position: absolute; top: -50px !important; left: -13px; draggable: true;" />
          </div>

      </div>

    </div> 

  <div>
</div>

